{% for announcement in announcements %}
    {% embed 'SensioLabsJobBoardBundle:Includes:job.html.twig' %}
        {% block job_header %}
            {% include "SensioLabsJobBoardBundle:Includes:shortened_job_header.html.twig" %}
        {% endblock %}

        {% block job_description %}
            <div class="padding description">{{ announcement.description }}</div>
        {% endblock %}

        {% block job_apply %}
        {% endblock %}
    {% endembed %}
{% endfor %}
