{% for announcement in announcements %}
    {% embed 'SensioLabsJobBoardBundle:Includes:job.html.twig' %}
        {% block job_header %}
            {% include "SensioLabsJobBoardBundle:Includes:shortened_job_header.html.twig" %}
        {% endblock %}

        {% block job_description %}
            <div class="padding description">{{ announcement.description|striptags }}</div>
        {% endblock %}

        {% block job_apply %}
        {% endblock %}
    {% endembed %}
{% else %}
    It seems that no jobs appears for the filters you chose. Please review one of them.
{% endfor %}
