{% extends "SensioLabsJobBoardBundle:Mail:base.html.twig" %}

{% block content %}
Please review the changes made to <a href="{{ path('backend_edit', {'id': announcement.id}) }}">{{ announcement.title }}</a>.
{% endblock %}
