{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}

{% block page_class '' %}
{% block title 'Publishing order' %}

{% block content %}

    <h3>Thank you for your announcement!</h3>
    <div class="clear"></div>
{% endblock %}
