{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}

{% block page_class '' %}
{% block title 'Publishing order' %}

{% block content %}

    <div>Please send us your payment credentials.</div>
    <div class="clear"></div>
{% endblock %}
