{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}
{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'add' %}
{% block title 'Post a Job' %}

{% form_theme form _self %}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            <li>{{ error.message }}</li>
        {%- endfor -%}
    {%- endif %}
    {% for child in form.children %}
        {{ form_errors(child) }}
    {% endfor %}
{%- endblock form_errors %}

{% block content %}
    {{ breadcrumb({'Post a job': path('job_post')}) }}

    <div class="box postajob-box">
        {% include 'SensioLabsJobBoardBundle:Includes:job_form.html.twig' %}
    </div>

    <div class="clear"></div>
{% endblock %}
