{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}
{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'add' %}
{% block title 'Update a Job' %}

{% block content %}
    {{ breadcrumb({
        'My jobs': path('manage'),
        (announcement.title): null,
    }) }}

    <div class="box" style="padding-bottom:15px">
        {% set submitButtonName = 'Save' %}
        {% include 'SensioLabsJobBoardBundle:Includes:job_form.html.twig' %}
    </div>

    <div class="clear"></div>
{% endblock %}
